/*
!LICENSE
!.gitignore
!i3
!qtile
!ncmpcpp
!mpd
!scripts
!youtube-dl
!fish
!awesome
!alacritty
!ranger
!archiso
!pypoetry
!picom
!starship.toml
archiso/work/*
archiso/out/*
**/*__pycache__*/**
!.bashrc
!onedrive
